@model IEnumerable<WebApplication_ShopItemGame.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid mt-4 p-0 mb-4">
    <div class="container p-4 pt-0 pb-0 m-cent ">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="border-radius: 1vh;">
            <div class="carousel-inner" style="border-radius: 1vh;">
                <div class="carousel-item active">
                    <img src="https://files.catbox.moe/pux5jk.gif" class="img-fluid d-block w-100" alt="..." style="border-radius: 1vh;" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container p-0">
    <div class="container-sm ps-4 pe-4 mb-3">
        <div class="w-100 bg-white shadow ps-0 pe-1 pe-lg-4 align-content-center" style="border-radius: 1vh;">
            <div class="row">
                <div class="col-6 col-lg-2 text-white">
                    <div class="p-2 main-color" style=" border-radius: 1vh 0 0 1vh; font-weight: 600; font-size: 20px;">
                        <p class="text-center m-0"><img src="https://cdn-icons-png.flaticon.com/512/8306/8306906.png" width="25" alt="icon" /> &nbsp;ประกาศ</p>
                    </div>
                </div>
                <div class="col-6 col-lg-10 p-2" style="margin-top: 2.5px;">
                    <marquee>รหัสที่ลูกค้าซื้อไปแล้วเข้าไม่ได้ หรือ โดนแบน โดนเปลี่ยนรหัสกดเครมไม่ได้ให้ติดต่อ discord มาเลยครับ</marquee>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .shops-body {
        position: relative;
        border-radius: 1vh;
        overflow: hidden;
        height: 100%;
        color: #fff;
    }

        .shops-body > .shops-img {
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            transition: all .5s ease;
        }

            .shops-body > .shops-img:hover {
                transform: scale(1.035);
            }

        .shops-body > .shops-count-pd {
            position: absolute;
            top: 20;
            right: 20;
        }

        .shops-body > .shops-name-pd {
            position: absolute;
            right: 20;
            bottom: 15;
            opacity: 0;
            transition: all .5s ease;
        }

        .shops-body:hover > .shops-name-pd {
            opacity: 1;
        }
</style>
<div class="container-sm p-4 pt-1 pb-2">
    <center>
        <div class="col-12 col-lg-12 bg-white p-2 mb-2" style="border-radius: 1vh;">
            <div class="d-flex justify-content-between">
                <div class="text-center text-lg-start">
                    <h3 class="text-white m-0 main-color" style="padding: 5px 10px; border-radius: 1vh; width: fit-content;">
                        <i class="fa-solid fa-store"></i> หมวดหมู่แนะนำ
                    </h3>
                </div>
            </div>
        </div>
    </center>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 p-2">
                <a href="?page=shop&category=Valorant ไอดีมีประกัน">
                    <div class="shops-body w-100">
                        <img class="shops-img" src="~/Img/valo01.gif" class="img-fluid" style="height: fit-content;">
                        <div class="shops-name-pd"><span class="h3">Valorant ไอดีมีประกัน</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <a href="?page=shop&category=Valorant โปรแกรมช่วยเล่น">
                    <div class="shops-body w-100">
                        <img class="shops-img" src="~/Img/valo03.gif" class="img-fluid" style="height: fit-content;">
                        <div class="shops-name-pd"><span class="h3">Valorant โปรแกรมช่วยเล่น</span></div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <a href="?page=shop&category= สินค้าอื่นๆ">
                    <div class="shops-body w-100">
                        <img class="shops-img" src="~/Img/valo02.gif" class="img-fluid" style="height: fit-content;">
                        <div class="shops-name-pd"><span class="h3"></span>สินค้าอื่นๆ</div>
                    </div>
                </a>
            </div>
            <div class="col-12 col-lg-6 p-2">
                <a href="?page=shop&category=สุ่มสกินปิน">
                    <div class="shops-body w-100">
                        <img class="shops-img" src="~/Img/valo04.gif" class="img-fluid" style="height: fit-content;">
                        <div class="shops-name-pd"><span class="h3">สุ่มสกินปิน</span></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


<div class="container-sm p-4 pt-1 pb-2">
    <center>
        <div class="col-12 col-lg-12 bg-white p-2 mb-2" style="border-radius: 1vh;">
            <div class="d-flex justify-content-between">
                <div class="text-center text-lg-start">
                    <h3 class="text-white m-0 main-color" style="padding: 5px 10px; border-radius: 1vh; width: fit-content;">
                        <i class="fa-solid fa-star"></i> สินค้าแนะนำ
                    </h3>
                </div>
            </div>
        </div>
    </center>
    
    @{
        IEnumerable<dynamic> grouped;  // หรือ var ก็ได้ ถ้าแยก if-else

        if (Model != null && Model.Any())
        {
            grouped = Model
            .GroupBy(i => i.Category ?? "ไม่มีหมวดหมู่")
            .Select(g => new
            {
                CategoryName = g.Key,
                Products = g.OrderBy(p => p.Price).Take(4).ToList()
            });
        }
        else
        {
            grouped = Enumerable.Empty<dynamic>();
        }
    }

    <div class="container-sm p-4">
        @if (Model != null && Model.Any())
        {
            foreach (var group in grouped)
            {
                <div class="row g-4 p-0 pt-4">
                    @foreach (var item in group.Products)
                    {
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="card h-100 shadow rounded product-card" style="border-radius: 1vh;">
                                <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" class="text-decoration-none">
                                    <img src="@Url.Content("~/Img/" + (item.ImageUrl ?? "default-image") + ".png")"
                                         class="card-img-top rounded-top" alt="@(item.Name ?? "สินค้า")"
                                         style="border-radius: 1vh 1vh 0 0; object-fit: cover; height: 250px;" />
                                </a>
                                <div class="card-body d-flex flex-column">
                                    <p class="badge bg-colorPJ text-white mb-2 align-self-start" style="border-radius: 1vh;">
                                        สินค้าคงเหลือ @(item.Stock)
                                    </p>
                                    <h5 class="card-title text-dark flex-grow-1" style="word-break: break-word;">
                                        @(item.Name ?? "ชื่อสินค้าไม่ระบุ")
                                    </h5>
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <div>
                                            <p class="h5 text-main mb-0"><strong>@item.Price.ToString("N2")</strong> <span class="fs-6 text-dark">บาท</span></p>
                                        </div>
                                    </div>

                                    @if (item.Stock > 0)
                                    {
                                        <a asp-controller="Shop" asp-action="Details" asp-route-id="@item.Id" class="btn bg-colorPJ w-100 mt-auto" style="border-radius: 1vh;">
                                            สั่งซื้อเลย
                                        </a>
                                    }
                                    else
                                    {
                                        <span class="btn btn-outline-danger fw-bold">สินค้าหมด</span>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            <p>ไม่มีสินค้าในระบบ</p>
        }
    </div>




</div>
